{% set indent = "    " %}{% set current_indent = indent * (indent_level if indent_level is defined else 0) %}
{{ current_indent }}#[allow(dead_code, non_camel_case_types)]
{{ current_indent }}#[derive(Serialize, Deserialize, Clone, Debug)]
{{ current_indent }}pub enum {{ union_name }} {
{{ current_indent }}{% for member in union_members %}    {{ member.name }}{ {{ member.element_id }}: {{ member.element_type }}, },{% if not loop.last %}{{ '\n' }}{% endif %}{% endfor %}
{{ current_indent }}}
//
// TODO custom de-/serializer
//
